/modul-2/JavaApplication6/nbproject/private/
/modul-2/JavaApplication6/build/
/modul-2/JavaApplication6/dist/
/modul-2/Praktikum2/nbproject/private/
/modul-2/Praktikum2/build/
/modul-2/Praktikum2/dist/
/modul-3/Praktikum3/nbproject/private/
/modul-3/Praktikum3/build/
/modul-3/Praktikum3/dist/
/modul-3/UTS/nbproject/private/
